.modeWrapper {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--color-header-focus-border);
  border-radius: 28px;
  background-color: var(--color-header-focus);
}
.mode {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-header-focus-border);
}
.focusMode {
  border-color: var(--color-header-focus-border);
  background-color: var(--color-header-focus);
}
.shortMode {
  border-color: var(--color-header-short-border);
  background-color: var(--color-header-short);
}
.longMode {
  border-color: var(--color-header-long_border);
  background-color: var(--color-header-long);
}
