.headerWrapper {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 24px;
  font-size: 24px;
}
.headerWrapper.focusModeWrapper {
  background-color: var(--color-header-focus-bg);
  border: 1px solid var(--color-header-focus-border);
  color: var(--color-header-focus-text);
}
.headerWrapper.shortModeWrapper {
  background-color: var(--color-header-short-bg);
  border: 1px solid var(--color-header-short-border);
  color: var(--color-header-short-text);
}
.headerWrapper.longModeWrapper {
  background-color: var(--color-header-long-bg);
  border: 1px solid var(--color-header-long-border);
  color: var(--color-header-long-text);
}
