.mainWrapper {
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.mainWrapper.focusModeWrapper {
  background-color: var(--color-focus-bg);
}
.mainWrapper.shortModeWrapper {
  background-color: var(--color-short-bg);
}
.mainWrapper.longModeWrapper {
  background-color: var(--color-long-bg);
}
