.appWrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--color-substrate-red);
}
.focusBg {
  background-color: var(--color-substrate-focus);
}
.shortBg {
  background-color: var(--color-substrate-short);
}
.longBg {
  background-color: var(--color-substrate-long);
}
