/* styles normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

/* variables */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-focus-bg: #0d0404;
  --color-short-bg: #040d06;
  --color-long-bg: #04090d;

  --color-header-focus-bg: rgba(255, 76, 76, 0.15);
  --color-header-focus-border: #ffd9d9;
  --color-header-focus-text: #ffd9d9;
  --color-header-short-bg: rgba(77, 218, 110, 0.15);
  --color-header-short-border: #f2fff5;
  --color-header-short-text: #f2fff5;
  --color-header-long-bg: rgba(76, 172, 255, 0.15);
  --color-header-long-border: #f2f9ff;
  --color-header-long-text: #f2fff5;
}

/* common styles */
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
